@import "tailwindcss";
@import "./menu.css";
@import "./icons.css";

@plugin "@tailwindcss/typography";

@source "./src/main/webapp/**/*.html";
@source "./src/main/webapp/**/*.jsp";
@source "./src/main/webapp/**/*.tag";

@plugin "daisyui" {
    themes: business --default;
}

footer {
    @apply border-dotted border-t-4;
    border-color: var(--color-accent);
}
