table tr td {
    @apply align-middle;
}

table tr:hover {
    @apply bg-base-100;
}

table tr td.actions div {
    @apply flex justify-around;
}

table td.actions svg.icon {
    stroke: var(--color-primary-content);
}

table td.actions:hover svg.icon {
    stroke: var(--color-accent);
}

/*table tr td.actions svg:nth-child(1) {*/
/*    @apply col-start-1;*/
/*}*/
/*table tr td.actions svg:nth-child(2) {*/
/*    @apply col-start-2;*/
/*}*/

