name: Mutation testing

on:
  schedule:
    - cron: "0 5 * * *"

jobs:
  mutation-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v6.0.2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Cache Maven packages
        uses: actions/cache@v5.0.3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 21
          distribution: 'adopt'
          cache: maven

      - name: Run Pitest
        run: |
          mvn -B -ntp \
            -Dpit.format=stryker-dashboard \
            test-compile org.pitest:pitest-maven:mutationCoverage \
            -pl \!:docs
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
