<?xml version="1.0" encoding="UTF-8"?>
<server description="traqqr-dev-server">
    <featureManager>
        <feature>appSecurity-5.0</feature>
        <feature>batch-2.1</feature>
        <feature>batchManagement-1.0</feature>
        <feature>beanValidation-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>enterpriseBeans-4.0</feature>
        <feature>expressionLanguage-5.0</feature>
        <feature>faces-4.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>persistence-3.1</feature>
        <feature>restfulWS-3.1</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <variable name="jdbc.hostname" defaultValue="localhost" />
    <variable name="jdbc.database" defaultValue="postgres" />
    <variable name="jdbc.username" defaultValue="postgres" />
    <variable name="jdbc.password" defaultValue="postgres" />

    <library id="postgresql-jdbc">
        <fileset dir="${server.config.dir}/jdbc/" includes="postgresql*jar" />
    </library>

    <dataSource id="traqqr-datasource" jndiName="jdbc/traqqr-ds" transactional="true" type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="postgresql-jdbc" />
        <properties serverName="${jdbc.hostname}"
                    databaseName="${jdbc.database}"
                    portNumber="5432"
                    user="${jdbc.username}"
                    password="${jdbc.password}" />
    </dataSource>

    <application location="traqqr.ear" name="traqqr" />

    <!-- Map the group assignment in TraqqrIdentityStore (prefixed with the SSO provider URI) to the application
         role that allows Batch Admin access. -->
    <authorization-roles id="com.ibm.ws.batch">
        <security-role name="batchAdmin">
            <!-- https://openliberty.io/docs/latest/admin-center.html -->
            <group access-id="group:https://accounts.google.com/batchAdmin" name="batchAdmin" />
        </security-role>
    </authorization-roles>

    <batchPersistence>
        <jobStore   createTables="true"
                    dataSourceRef="traqqr-datasource"
                    schema="batch" />
    </batchPersistence>

    <!-- Enable detailed logging for Jakarta Persistence API. -->
    <logging traceSpecification="eclipselink=all:eclipselink.sql=all" />

    <!-- Enable detailed logging for Jakarta Security.
    <logging traceSpecification="*=audit:com.ibm.ws.security.jwt.*=finer:com.ibm.wsspi*=fine=enabled:com.ibm.websphere.security*=fine=enabled" maxFiles="8" maxFileSize="200" />
     -->
    <!-- Enable detailed logging for CDI.
    <logging traceSpecification="*=audit:org.jboss.weld.context.*=finest" maxFiles="8" maxFileSize="200" />
     -->

    <applicationMonitor dropinsEnabled="false" />
    <logging isoDateFormat="true" />
    <webContainer deferServletLoad="false" />
    <cdi12 enableImplicitBeanArchives="false" />
</server>
