<?xml version="1.0" encoding="UTF-8"?>
<server description="traqqr-dev-server">
    <featureManager>
        <platform>jakartaee-10.0</platform>

        <!-- Features managed by the Jakarta EE platform -->
        <feature>appSecurity</feature>
        <feature>batch</feature>
        <feature>beanValidation</feature>
        <feature>cdi</feature>
        <feature>concurrent</feature>
        <feature>expressionLanguage</feature>
        <feature>faces</feature><!-- to be removed -->
        <feature>jsonb</feature>
        <feature>pages</feature>
        <feature>persistence</feature>
        <feature>restfulWS</feature>
        <feature>servlet</feature>

        <!-- Non-Jakarta features -->
        <feature>batchManagement-1.0</feature>
    </featureManager>

    <variable name="jdbc.hostname" defaultValue="localhost" />
    <variable name="jdbc.database" defaultValue="postgres" />
    <variable name="jdbc.username" defaultValue="postgres" />
    <variable name="jdbc.password" defaultValue="postgres" />

    <library id="postgresql-jdbc">
        <fileset dir="${server.config.dir}/jdbc/" includes="postgresql*jar" />
    </library>

    <dataSource id="traqqr-datasource" jndiName="jdbc/traqqr-ds" transactional="true" type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="postgresql-jdbc" />
        <properties serverName="${jdbc.hostname}"
                    databaseName="${jdbc.database}"
                    portNumber="5432"
                    user="${jdbc.username}"
                    password="${jdbc.password}" />
    </dataSource>

    <application location="traqqr.ear" name="traqqr" />

    <authorization-roles id="com.ibm.ws.batch">
        <security-role name="batchAdmin">
            <!-- Map the group assignment in TraqqrIdentityStore (prefixed with the SSO provider URI) to the application
                 role that allows Batch Admin access; see https://openliberty.io/docs/latest/admin-center.html -->
            <group access-id="group:https://accounts.google.com/batchAdmin" name="batchAdmin" />
            <!-- Map all users in the system-users group to the application role that allows Batch Admin access. -->
            <group name="system-users" />
        </security-role>
    </authorization-roles>

    <jaasLoginContextEntry id="ClientContainer" name="ClientContainer" />

    <batchPersistence>
        <jobStore   createTables="true"
                    dataSourceRef="traqqr-datasource"
                    schema="batch" />
    </batchPersistence>

    <!--    -->
    <logging isoDateFormat="true" />

    <!-- Enable detailed logging for Jakarta Persistence API.
    <logging traceSpecification="eclipselink.sql=all"
             isoDateFormat="true" />
    -->
    <!-- Enable detailed logging for Jakarta Security.
    <logging traceSpecification="*=audit:com.ibm.ws.security.jwt.*=finer:com.ibm.wsspi*=fine=enabled:com.ibm.websphere.security*=fine=enabled"
             isoDateFormat="true" />
    -->
    <!-- Enable detailed logging for CDI.
    <logging traceSpecification="*=audit:org.jboss.weld.context.*=finest"
             isoDateFormat="true" />
     -->

    <applicationMonitor dropinsEnabled="false" />
    <webContainer deferServletLoad="false" />
</server>
