<?xml version="1.0" encoding="UTF-8"?>
<server description="traqqr-dev-server">
    <featureManager>
        <feature>appSecurity-5.0</feature>
        <feature>beanValidation-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>expressionLanguage-5.0</feature>
        <feature>faces-4.0</feature>
        <feature>persistence-3.1</feature>
        <feature>restfulWS-3.1</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <application location="traqqr.ear" name="traqqr" contextRoot="/" />

    <!-- Enable detailed logging for Jakarta Persistence API.
    <logging traceSpecification="eclipselink=all:eclipselink.sql=all" />
     -->
    <!-- Enable detailed logging for Jakarta Security. -->
    <logging traceSpecification="*=audit:com.ibm.ws.security.jwt.*=finer:com.ibm.wsspi*=fine=enabled:com.ibm.websphere.security*=fine=enabled" maxFiles="8" maxFileSize="200" />



    <applicationMonitor dropinsEnabled="false" />
    <logging isoDateFormat="true" />
    <webContainer deferServletLoad="false" />
</server>
